// Grays
$gray-1: #374151;
$gray-2: #6b7280;
$gray-3: #9ca3af;
$gray-4: #d1d5db;
$gray-5: #e5e7eb;
$gray-6: #f3f4f6;

// Reds
$red-1: #dd1c1a;
$red-2: #feebeb;

// Greens
$green-1: #059669;
$green-2: #10b981;
$green-3: #ecfdf5;

.App {
  background: $gray-6;
  width: 100%;
  height: 100vh;
}
